# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.env

*.hide

system_instruction.js

notes/
*.md 
*.txt
*.pdf
.obj.js
summer-fun.js
te-Hor.js
pipe-dreams.js
test_page.html
new-obj.js
object.js
ai_platform_interface.html